*
  {
    margin: 0px;
    padding: 0px;
  }

#contenedor
  {
    margin: auto;
    width: 80%;
    height: 800px;
    /*background-color: black;
    color: blue;*/
  }

main
  {
    margin: auto;
    text-align: center;
    /*background-color: blue;
    color: white;*/
  }

header nav
  {
    text-align: center;
  /*background-color: #FF6309;
    color: blue;*/
  }

header nav ul li
  {
    display: inline-block;
    padding: 0.2px;
  }

#logo
    {
      margin: 0px auto;
       width:center; height:100%;
    }
/*
img.logo
  {
    vertical-align:middle;
  }
/*CONFIGURACION DE LAS LETRAS DEL MENU*/
header nav ul li a
  {
    text-decoration: none;
    font-family: fantasy; /*GRUESOR DE LAS LETRAS O TIPO*/
    font-size: 20px;
    /*background-color: blue;/*COLOR DE FONDO DE LAS LETRAS DEL MENU*/
    /*font-weight: bold;*/ /* NEGRITAS*/
  }

header
  {
  	margin-top:10px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
  }

header nav ul li a:hover
  {
    color: black;
  }

header
  {
  	margin-top:10px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
  }

nav ul
  {
  	list-style:none;
  }

nav > ul
  {
  	display:table;
  	/*Quitamos el overflow hidden que estaba aqui*/
  	width:100%;
  	background:#106188;
  	position:relative;
  }

nav > ul li
  {
  	display:table-cell;
  }

  /*Sub-menu
  nav > ul > li:hover > ul {
  	display:block;
  	height:100%;
  }*/

nav > ul > li > ul
  {
  	display:block;
  	position:absolute;
  	background:#000;
  	left:0;
  	right:0;
  	overflow:hidden;
  	height:0%;
  	-webkit-transition: all .3s ease;
  	-moz-transition: all .3s ease;
  	-ms-transition: all .3s ease;
  	-o-transition: all .3s ease;
  	transition: all .3s ease;
  }

nav > ul li a
  {
  	color:#fff;
  	display:block;
  	line-height:20px;
  	padding:20px;
  	position: relative;
  	text-align:center;
  	text-decoration:none;
  	-webkit-transition: all .3s ease;
  	-moz-transition: all .3s ease;
  	-ms-transition: all .3s ease;
  	-o-transition: all .3s ease;
  	transition: all .3s ease;
  }

nav > ul > li > ul > li a:hover
  {
  	background:#5da5a2;
  }

nav > ul > li > a span  /* AQUI SE CONFIGURA LAS CAJAS Q SE MUEVEN*/
  {
    /*border: 5px solid black;*/
  	background:#174459;
  	display:block;
  	height:100%;
  	width:100%;
  	left:0;
  	position:absolute;
  	top:-55px;
  	-webkit-transition: all .3s ease;
  	-moz-transition: all .3s ease;
  	-ms-transition: all .3s ease;
  	-o-transition: all .3s ease;
  	transition: all .3s ease;
  }

nav > ul > li > a span .icon
  {
    /* AQUI SE CONFIGURA LAS CAJAS Q SE MUEVEN*/
  	display:block;
  	line-height:60px;
  }

nav > ul > li > a:hover > span
  {
    /* AQUI SE CONFIGURA LAS CAJAS Q SE MUEVEN*/
  	top:0;
  }

  /*Colores*/
nav ul li a .primero
  {
    background:#0e5061;
  }

nav ul li a .segundo
  {
    	background:#24f23f;
  }

nav ul li a .tercero
  {
    background:#8b24f2;
  }

nav ul li a .cuarto
  {
    	background:#f2ea24;
  }

nav ul li a .quinto
  {
    background:#37a4d9;
  }

/*FIN DE LA CONFIGURACION DE LAS LETRAS DEL MENU*/
p
  {
    text-align:center;
    color: #fff;
    font-family: matura mt script capitals;
    font-size: 40px;
    letter-spacing: 0;
    text-shadow: -3px -3px 3px #000, 3px -3px 3px #000, -3px 3px 3px #000, 3px 3px 3px #000;
 }
/*
section
  {
    border: 5px solid black;
    margin-top: -555px;
    margin-bottom: 6px;
    margin-left: 5px;
    margin-right: 150px;
    float: left;
    width: 1180px;
    height: 450px;
  /*  background-color: green;
    color: white;*/
/*  }*/
/*
aside
  {
    border: 5px solid black;
    margin-top: 6px;
    float: left;
    width: 235px;
    height: 394px;
    margin-left: 5px;
  /*  background-color: white;    PARA CREAR MAS CAJAS
    color: black;*/
/*  }

aside:nth-of-type(1)
  {
    height: 50px;
  }
*/
body
  {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url(cayos.jpg);
    /*background-position : center; CENTRAR IMAGEN DE FONDO, NO RECOMENDADO*/     /*background: url('playa.png');
    /*se puede borrar los comentarios de ----> era para la imagen               background-repeat : no-repeat;
    background-attachment : fixed;*/
  }

#EncuestaPadre
  {
    /*border: 5px solid black;*/
    font-family: Comic Sans MS;
    font-weight: solid;
    margin-top: -70px;
    width: 250px;
    height: 500px;
  }
marquee
  {
    font-weight:bold;
  }

.iniciaSesion
  {
    width: 220px;
    margin-left: 950px;
    margin-top: -400px;
    text-align: center;
    font-weight:bold;
    /*background-color: #03b7e7;
    opacity: 0.6;*/
  }

footer
  {
    /*border: 5px solid black;*/
    margin-left: 6px;
    margin-right: 6px;
    position: absolute;
    bottom: 0 !important;
    bottom: -1px;
    clear: both;
    width: 80%;
    height: auto;
    /*background-color: #bb771d;*/
    color: white;
    text-align: center;
  /*  opacity: 0.6;*/
  }
@media screen and (max-width: 800px)
    {
      #logo img.grande
        {
           width: 400px;
           height: 400px;
        }
    }

@media screen and (max-width: 971px)
   {
    main p
      {
        font-size: 30px;
      }

    footer p
      {
        font-size: 30px;
      }
   }

@media screen and (max-width: 725px)
  {
    main p
      {
        font-size: 23px;
      }

    footer p
      {
        font-size: 23px;
      }
  }

@media screen and (max-width: 555px)
  {
    main p
      {
        font-size: 19px;
      }

    footer p
      {
        font-size: 19px;
      }
  }

@media screen and (max-width: 793px)
  {
    header nav ul li a
        {
          text-decoration: none;
          font-family: fantasy; /*GRUESOR DE LAS LETRAS O TIPO*/
          font-size: 15px;
        }
  }

@media screen and (max-width: 660px)
  {
    header nav ul li a
        {
          text-decoration: none;
          font-family: fantasy; /*GRUESOR DE LAS LETRAS O TIPO*/
          font-size: 10px;
        }
  }

@media screen and (max-width: 535px)
  {
    header nav ul li a
        {
          text-decoration: none;
          font-family: fantasy; /*GRUESOR DE LAS LETRAS O TIPO*/
          font-size: 8px;
        }
  }
