*
  {
    margin: 0px;
    padding: 0px;
  }

#contenedor
  {
    margin: auto;
    width: 80%;
    height: 800px;
    text-align: center;
    /*background-color: black;
    color: blue;*/
  }

main
  {
    margin: auto;
    text-align: center;
    /*background-color: blue;
    color: white;*/
  }

#logo
    {
      margin: 0px auto;
       width:center; height:100%;
    }

body
  {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url(cayos.jpg);
  }

/*RESPONSIVE*/

@media screen and (max-width: 971px)
   {
    main p
      {
        font-size: 30px;
      }

    footer p
      {
        font-size: 30px;
      }
   }

@media screen and (max-width: 725px)
  {
    main p
      {
        font-size: 23px;
      }
  }

@media screen and (max-width: 555px)
  {
    main p
      {
        font-size: 19px;
      }
  }